<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>
<body>
    <h3>Edit your chat: <%=Chat._id%></h3>
    <p>This chat was sent by:  <%=Chat.from%> to <%=Chat.to%></p>
    <form method="POST" action="/chat/<%=Chat._id%>/?_method=PUT">
        <textarea name="message"><%=Chat.msg%></textarea>
        <button>Confirm Editing</button>
    </form>
</body>
</html>